body{
    padding: 0;
    margin: 0;
    border: 0;
}
.all{
    width: 100%;
    display: block;
    background-color: rgb(255, 255, 255);
    float: right;
}
.all .all-1{
    width: 30%;
    height: 150px;
    border: 3px solid black;
    border-radius: 5px;
    float: left;
    margin: 15px;
    background-color: #e9ecef;
}
.all .all-2{
    width: 30%;
    height: 150px;
    border: 3px solid black;
    border-radius: 5px;
    float: left;
    margin: 15px;
    background-color: #e9ecef;
}
.all .all-3{
    width: 30%;
    height: 150px;
    border: 3px solid black;
    border-radius: 5px;
    float: left;
    margin: 15px;
    background-color: #e9ecef;
}
.all .all-1-1{
    
    padding-top: 30px;
    padding-left: 0px;
}
.all .all-1-2{
    color:#9a9c9a;
}
.all .all-1-2:hover{
    color:chartreuse;
}
.all a{
    color: black;
    text-decoration: none;
}
.all b{
    padding-top: 50px;
}
